<a href="https://colab.research.google.com/github/ahmd10/Demographic_Data_Analyzer_With_Pandas/blob/main/Demographic_Data_Analyzer.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



```
## Demographic Data Analyzer

This is a practice project from FreeCodeCamp

The project objective is to use Pandas to answer the following questions:

1- How many people of each race are represented in this dataset? This should be a Pandas series with race names as the index labels. (race column)

2- What is the average age of men?

3- What is the percentage of people who have a Bachelor's degree?

4- What percentage of people with advanced education (Bachelors, Masters, or Doctorate) make more than 50K?

5- What percentage of people without advanced education make more than 50K?

6- What is the minimum number of hours a person works per week?

7- What percentage of the people who work the minimum number of hours per week have a salary of more than 50K?

8- What country has the highest percentage of people that earn >50K and what is that percentage?

9- Identify the most popular occupation for those who earn >50K in India.
```

In [3]:
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
csv_url = "https://raw.githubusercontent.com/freeCodeCamp/boilerplate-demographic-data-analyzer/main/adult.data.csv"

In [5]:
data = pd.read_csv(csv_url)

In [6]:
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [7]:
data.shape

(32561, 15)

In [8]:
data.dtypes

age                int64
workclass         object
fnlwgt             int64
education         object
education-num      int64
marital-status    object
occupation        object
relationship      object
race              object
sex               object
capital-gain       int64
capital-loss       int64
hours-per-week     int64
native-country    object
salary            object
dtype: object

In [9]:
data.describe()

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week
count,32561.000000,3.256100e+04,32561.000000,32561.000000,32561.000000,32561.000000
mean,38.581647,1.897784e+05,10.080679,1077.648844,87.303830,40.437456
std,13.640433,1.055500e+05,2.572720,7385.292085,402.960219,12.347429
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.178270e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.783560e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.370510e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.484705e+06,16.000000,99999.000000,4356.000000,99.000000

In [10]:
data.isnull().sum()

age               0
workclass         0
fnlwgt            0
education         0
education-num     0
marital-status    0
occupation        0
relationship      0
race              0
sex               0
capital-gain      0
capital-loss      0
hours-per-week    0
native-country    0
salary            0
dtype: int64



To answer question 1, I used the GroupBy method on Pandas to group the data based on race

In [17]:
data.groupby(['race']).size()

race
Amer-Indian-Eskimo      311
Asian-Pac-Islander     1039
Black                  3124
Other                   271
White                 27816
dtype: int64

Answer (2)
To get average age of men, I started by using logical operation to filter the data by 'Male' and then use the mean function to get the average age of the group

In [20]:
data[data.sex == 'Male'].age.mean()

39.43354749885268

In [18]:
average_age_of_men = data[data.sex == 'Male'].age.mean()

In [19]:
average_age_of_men

39.43354749885268

Answer (3)
To get percent with bachelors, I used a boolean operation to filter the data by education and then got the sum of 'True' values for 'bachelors'. To get the percent, I divided the num_with_bachelors by the total number of data values and multiplied that by 100

In [27]:
num_with_bachelors = (data.education == 'Bachelors').sum()

In [28]:
percent_with_bachelors = (num_with_bachelors / data.shape[0]) * 100

In [29]:
percent_with_bachelors

16.44605509658794